.menu{
    display: flex;
    justify-content: center;
    background-color: #624747;
    font-weight: bold;
    font-size: 100%;
    color: white;
}
.imgIcono{
    width: 10%;
}
*{
    font-family: 'Courier New', monospace;
    font-size: 110%;
}
.inicio{
    margin: 15px;
}
.lista{
    margin: 15px;
}
.contacto{
    margin: 15px;
}
.icono{
    padding: 35px;
    background-color: #FFFDDB;
}
.content{
    background-color: #FFFDDB;
    padding: 15px;
    color: black;
    
}
.titulo{
    background-color: #624747;
    display: flex;
    justify-content: center;
    padding: 15px;
}
.img1{
    display: flex;
    justify-content: center;
}
.wiki{
    background-color: #624747;
    margin: 15px;
    color: white;
}
.culon{
    background-color: #624747;
    padding: 15px;
    color: white;
}
main{
    background-color: #FFFDDB;
}
.content1{
    display: flex;
    justify-content: center;
    background-color: #624747;
    color: white;
}
.content2{
    display: flex;
    justify-content: center;
}
* {
    box-sizing: border-box;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid black;
    border-radius: 4px;
    resize: vertical;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    width: 15%;
}
input[type=submit]:hover {
    background-color: #444444;
}
.container {
    border-radius: 5px;
    background-color: #624747;
    padding: 20px;
    color: white;
    padding-bottom: 80px;
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}